<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookcafe.food.serviceImpl.FoodMapper">
    
    <!-- 음식 목록 조회 (커피, 푸드 통합) -->
    <select id="selectFoodessList" resultType="bookcafe.food.service.FoodVO">
        SELECT F.*, SC.FIR_CODE , SC.SEC_NAME , SC.USE_STATUS  
		FROM FOOD F
		JOIN SEC_CODE SC ON F.PRODUCT_CATEGORY = SC.SEC_CODE
		WHERE SC.USE_STATUS = 'Y';
    </select>
    
    <!-- 음식 카테고리 -->
    <select id="getFoodCategory" resultType="bookcafe.food.service.FoodVO">
		SELECT *
		FROM SEC_CODE
		WHERE FIR_CODE = 'FIR_002'
		  AND USE_STATUS = 'Y'
		ORDER BY
		  CASE
		    WHEN SEC_NAME = '도서열람권' THEN 1
		    ELSE 2
		  END, SEC_CODE;
    </select>
    
</mapper>