<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookcafe.myPage.serviceImpl.MyPageMapper">

	<!-- 비밀번호 변경하기 -->
	<update id="updatePassword">
		update USER set
			user_pass = #{newPassword}
		where user_id = #{user_id}
	</update>
	
	<!-- 회원정보 수정하기 -->
	<update id="updateMember">
		update USER set
			user_tel = #{user_tel},
			user_email = #{user_email},
			user_address = #{user_address}
		where user_id = #{user_id}
	</update>

	<!-- 회원정보 삭제하기 -->
	<update id="deleteMember">
		update USER set
			user_authority = "5"
		where user_id = #{user_id}
	</update>
	
	<!-- 예약정보 현재시각기준 업데이트 -->
<!-- 	<update id="updateTBLReserve"> -->
<!-- 	<![CDATA[ -->
<!-- 		update rent001.TBL_RESERVE as r -->
<!-- 		left join TBL_PAYMENT as p on r.res_rid = p.pay_res_rid -->
<!-- 		set r.res_status =  -->
<!-- 		    case  -->
<!-- 		        when r.res_status != '예약취소'  -->
<!-- 		            and r.res_rental_date <= now()  -->
<!-- 		            and r.res_return_date >= now()  -->
<!-- 		            and p.pay_status is null then '기한만료' -->
<!-- 		        when r.res_status != '예약취소'  -->
<!-- 		            and r.res_rental_date <= now()  -->
<!-- 		            and r.res_return_date >= now() then '이용중' -->
<!-- 		        when r.res_status != '예약취소'  -->
<!-- 		            and r.res_return_date < now() then '이용완료' -->
<!-- 		        when r.res_status != '예약취소'  -->
<!-- 		            and r.res_return_date < now() -->
<!-- 		            and p.pay_status is null then '기한만료' -->
<!-- 		        else r.res_status -->
<!-- 		    end, -->
<!-- 		    r.res_modi_date = now() -->
<!-- 		where r.res_mem_id = #{mem_id} -->
<!--    	]]> -->
<!-- 	</update> -->
	
	<!-- 카페주문내역 조회하기(ORDERS + CART) -->
 	<select id="getMyOrderList" resultType="bookcafe.myPage.service.MyOrderDTO">
 		SELECT O.* , C.PRODUCT_CODE , C.CART_CODE , C.ORDER_QUANTITY 
		FROM ORDERS O 
		JOIN CART C ON O.USER_CODE = C.USER_CODE 
		WHERE O.USER_CODE = #{user_code} 
		GROUP BY O.ORDER_CODE 
		ORDER BY O.PAYMENT_DATE;
  	</select>
	
	<!-- 주문 건 1개 조회(CART + FOOD) -->
<!--  	<select id="getMyOrderListByOne" resultType="bookcafe.myPage.service.MyOrderDTO"> -->
<!--  		SELECT O.* , C.PRODUCT_CODE , C.CART_CODE , C.ORDER_QUANTITY  -->
<!-- 		FROM ORDERS O  -->
<!-- 		JOIN CART C ON O.USER_CODE = C.USER_CODE  -->
<!-- 		WHERE O.USER_CODE = #{user_code}  -->
<!-- 		GROUP BY O.ORDER_CODE  -->
<!-- 		ORDER BY O.PAYMENT_DATE; -->
<!--   	</select> -->
	
	<!-- 예약취소 -->
<!-- 	<update id="cancelReservation"> -->
<!-- 		update rent001.TBL_RESERVE -->
<!-- 		set res_status = '예약취소' -->
<!-- 		where res_rid = #{res_rid} -->
<!-- 		and res_status = '예약중' -->
<!-- 	</update> -->
	
	<!-- 예약정보 현재시각기준 업데이트(비회원) -->
<!-- 	<update id="updateNonMember"> -->
<!-- 	<![CDATA[ -->
<!-- 		update rent001.TBL_NONMEMBER -->
<!-- 		set non_status =  -->
<!--    			case  -->
<!-- 	        when non_status != '예약취소' and non_rental_date <= now() and non_return_date >= now() then '이용중' -->
<!-- 	        when non_status != '예약취소' and non_return_date < now() then '이용완료' -->
<!-- 	        else non_status -->
<!--     	end, -->
<!--     	non_modi_date = NOW() -->
<!--     	where non_name = #{non_name} and non_tel = #{non_tel} -->
<!--    	]]> -->
<!-- 	</update> -->
	
	<!-- 예약정보 조회하기(비회원) -->
<!--  	<select id="getMemberList_non" resultType="com.kh.rent.reserve.domain.NonMemberVO"> -->
<!--  		select * -->
<!--  		from rent001.TBL_NONMEMBER -->
<!--  		where non_name = #{non_name} -->
<!--  		and non_tel = #{non_tel} -->
<!--   	</select> -->
  	
	<!-- 예약번호로 차종 조회하기(비회원) -->
<!-- 	<select id="getCarName_non" resultType="String"> -->
<!-- 		select ci.car_name -->
<!-- 		from rent001.TBL_NONMEMBER as n -->
<!-- 		join rent001.TBL_CAR_INFO as ci on n.non_car_id = ci.car_index -->
<!-- 		where n.non_rid = #{res_rid} and n.non_car_id = #{res_car_id} -->
<!-- 	</select> -->
	
	<!-- 예약취소(비회원) -->
<!-- 	<update id="cancelReservation_non"> -->
<!-- 		update rent001.TBL_NONMEMBER -->
<!-- 		set non_status = '예약취소' -->
<!-- 		where non_rid = #{non_rid} -->
<!-- 	</update> -->
	
	<!-- 예약정보 조회하기(마이페이지) -->
<!--  	<select id="getMyReserveList" resultType="com.kh.rent.myPage.domain.GetStatusDTO"> -->
<!--  		SELECT R.*, CI.FILE_ID, CI.CAR_INDEX, CI.CAR_NAME, F.UNIQUE_FILE_NM -->
<!-- 		FROM TBL_RESERVE R -->
<!-- 		LEFT JOIN TBL_CAR_INFO CI ON R.RES_CAR_ID = CI.CAR_INDEX -->
<!-- 		LEFT JOIN TBL_FILE F ON CI.FILE_ID = F.FILE_ID -->
<!-- 		WHERE R.res_mem_id = #{mem_id} -->
<!-- 		AND (R.res_status = '예약중' OR R.res_status = '예약완료') -->
<!-- 		ORDER BY R.res_rental_date ASC; -->
<!-- 	</select> -->

	<!-- 예약정보 조회하기(예약번호 1개 정보) -->
<!-- 	<select id="getMyResInfo" resultType="com.kh.rent.myPage.domain.GetStatusDTO"> -->
<!--  		select r.*,  -->
<!--  			   p.pay_status, p.pay_pid,  -->
<!--  			   c.car_name, c.car_company, c.car_fuel, -->
<!--  			   c.op_carseat, c.op_navi, c.op_bt, c.op_cam -->
<!-- 		from TBL_RESERVE as r -->
<!-- 		left join TBL_PAYMENT as p on r.res_rid = p.pay_res_rid -->
<!--    		left join TBL_CAR_INFO as c on r.res_car_id = c.car_index -->
<!--  		where res_rid = #{res_rid} -->
<!-- 	</select> -->
	
</mapper>