<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookcafe.point.serviceImpl.PointMapper">

	<!-- 포인트 전체 조회하기(한사람) -->
 	<select id="getPointList" resultType="bookcafe.point.service.PointVO">
 		SELECT *
		FROM (
		    SELECT 
		        P.*, 
		        U.USER_POINT,
		        O.PAYMENT_STATE,
		        O.TOTAL_PRICE,
		        CASE 
		            WHEN P.POINT_CHANGE >= 0 THEN '적립'
		            ELSE '사용'
		        END AS POINT_SECTION,
		        @ROWNUM:=@ROWNUM+1 AS ROWNUM
		    FROM 
		        POINTLOG AS P
		    JOIN 
		        USER AS U ON U.USER_CODE = P.USER_CODE
		    JOIN 
		        ORDERS AS O ON P.ORDER_CODE = O.ORDER_CODE,
		        (SELECT @ROWNUM:=0) AS R
		    WHERE 
		        U.USER_CODE = #{user_code}
		        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                	AND DATE_FORMAT(P.POINT_JOINDATE, '%Y%m%d') 
                	BETWEEN DATE_FORMAT(#{startDate}, '%Y%m%d') AND DATE_FORMAT(#{endDate}, '%Y%m%d')
            	</if>
		    ORDER BY 
		        P.POINT_JOINDATE ASC
		) AS T
		ORDER BY ROWNUM DESC;
  	</select>
  	
	<!-- 포인트 내역 기록하기 -->
	<insert id="insertPointLog" parameterType="bookcafe.point.service.PointVO">
		INSERT INTO POINTLOG (
			POINT_CODE, USER_CODE, ORDER_CODE, POINT_CHANGE, POINT_JOINDATE, POINT_STATE)
	    VALUES (
	    	fnCode('pointlog'), #{user_code}, #{order_code}, #{point_change}, date_format(now(),'%Y%m%d%H%i%s'),#{point_state})
	</insert>
	
	<!-- 회원 포인트 업데이트 -->
	<update id="updateUserPoint">
		UPDATE USER 
		SET USER_POINT  = (
		    SELECT SUM(POINT_CHANGE) 
		    FROM POINTLOG 
		    WHERE USER_CODE = #{user_code}
		) 
		WHERE USER_CODE = #{user_code}
	</update>
	
	<!-- 포인트내역 합신금액 조회 -->
	<select id="selectTotalPoint" resultType="Integer">
	    SELECT SUM(POINT_CHANGE) 
	    FROM POINTLOG 
	    WHERE USER_CODE = #{user_code}
	</select>
	<!-- 주문코드를 통해 포인트 내역 조회 -->
	<select id="selectOrderToPointLog" resultType="java.util.Map">
		SELECT POINT_CHANGE
		  FROM POINTLOG
		 WHERE ORDER_CODE = #{order_code}
	</select>
</mapper>