<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookcafe.point.serviceImpl.PointMapper">

	<!-- 포인트 전체 조회하기(한사람) -->
 	<select id="getPointList" resultType="bookcafe.point.service.PointVO">
 		SELECT *
		FROM (
		    SELECT 
		        P.*, 
		        U.USER_POINT,
		        O.PAYMENT_STATE,
		        CASE 
		            WHEN P.POINT_CHANGE >= 0 THEN '적립'
		            ELSE '사용'
		        END AS POINT_SECTION,
		        @ROWNUM:=@ROWNUM+1 AS ROWNUM
		    FROM 
		        POINTLOG AS P
		    JOIN 
		        USER AS U ON U.USER_CODE = P.USER_CODE
		    JOIN 
		        ORDERS AS O ON P.ORDER_CODE = O.ORDER_CODE,
		        (SELECT @ROWNUM:=0) AS R
		    WHERE 
		        U.USER_ID = #{user_id}
		    ORDER BY 
		        P.POINT_JOINDATE ASC
		) AS T
		ORDER BY 
		    ROWNUM DESC;
  	</select>
  	
	<!-- 포인트 내역 기록 -->
	<insert id="insertPointLog">
		INSERT INTO POINTLOG (
			POINT_CODE, USER_CODE, ORDER_CODE, POINT_CHANGE, POINT_JOINDATE)
	    VALUES (
	    	fnCode('pointlog'), #{USER_CODE}, #{ORDER_CODE}, #{POINT_CHANGE}, #{POINT_JOINDATE} )
	</insert>
	
	<!-- 회원 포인트 업데이트 -->
	<update id="updateUserPoint">
		UPDATE USER 
		SET USER_POINT = (
		    SELECT SUM(POINT_CHANGE) 
		    FROM POINTLOG 
		    WHERE USER_CODE = #{USER_CODE}
		) 
		WHERE USER_CODE = #{USER_CODE};
	</update>
	
</mapper>