<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookcafe.nexacro.codemanagement.serviceImpl.CodeManagementMapper">

	<!-- 상위코드 조회 검색 -->
	<select id="searchfirgrid" resultType="java.util.Map">
	<choose>
	<when test="FIR_CODE.equals('fir_000')">
	SELECT * FROM FIR_CODE ORDER BY FIR_CODE;
	</when>
	<otherwise>
	SELECT * FROM FIR_CODE WHERE FIR_CODE = #{FIR_CODE}
	</otherwise>
	
	</choose>
	</select>
	
	
	<!-- 하위코드 조회 검색 -->
	<select id="searchsecgrid" resultType="java.util.Map">
	
	SELECT * FROM SEC_CODE WHERE SEC_CODE = #{search2}
	
	</select>

	<!--  상위코드 조회 -->
	<select id="selectfirgrid" resultType="java.util.Map">
	SELECT
			 * 
	FROM
			 FIR_CODE 
	ORDER BY 
			 FIR_CODE ;
	</select>
	
	<!--  하위코드 조회 -->
	<select id="selectsecgrid" resultType="java.util.Map">
	SELECT 
			*
	 FROM 
			SEC_CODE 
	 WHERE 
	 		FIR_CODE = #{fir_category};
	</select>
	
	<!-- 상위코드 최신값 -->
	<select id="fircodenew" resultType="String">
	SELECT fnCode('fir');
	</select>
	
	<!-- 하위코드 최신값 -->
	<select id="seccodenew" resultType="String">
	SELECT fnCode('sec');
	</select>
	
	<!-- 코드 존재 확인 -->
	<select id="selectcodes" resultType="int">
		<choose>
			<when test="SEC_CODE == null">
	
				SELECT 
						COUNT(FIR_CODE) 
				FROM 
						FIR_CODE 
				WHERE 
						FIR_CODE = #{FIR_CODE}	
			</when>		
			<when test="SEC_CODE != null">
				SELECT 
						COUNT(SEC_CODE) 
				FROM 
						SEC_CODE 
				WHERE 
						SEC_CODE = #{SEC_CODE}	
			</when>
		</choose>
	</select>
	
	<!--  코드 업데이트 -->
	<update id="updatecodes">
		<choose>
			<when test="SEC_CODE == null">
				UPDATE 
						FIR_CODE
				SET
						FIR_NAME = #{FIR_NAME},
						USE_STATUS = #{USE_STATUS}
				WHERE 	
						FIR_CODE = #{FIR_CODE}
			</when>
			<when test="SEC_CODE != null">
				UPDATE 
						SEC_CODE
				SET
						SEC_NAME = #{SEC_NAME},
						USE_STATUS = #{USE_STATUS}
				WHERE 	
						SEC_CODE = #{SEC_CODE}
			</when>
		</choose>
	</update>
	
	<!--코드 생성 -->
	<insert id="insertcodes">
		<choose>
			<when test="SEC_CODE == null">
				INSERT 
				INTO 
						FIR_CODE 
				VALUES
						(#{FIR_CODE}, #{FIR_NAME}, #{USE_STATUS})
			</when>
			<when test="SEC_CODE != null">
				INSERT 
				INTO 
						SEC_CODE 
				VALUES
						(#{FIR_CODE}, #{SEC_CODE}, #{SEC_NAME}, #{USE_STATUS})
			</when>
		</choose>
	</insert>
	
	<update id="updateseccode">
	UPDATE 
			SEC_CODE
	SET
			USE_STATUS = #{USE_STATUS}
	WHERE 	
			FIR_CODE = #{FIR_CODE}
	</update>
	
	<delete id="codedel">
	
	<choose>
	<when test="SEC_CODE == null">
	DELETE 
	FROM 
			FIR_CODE
	WHERE 
			FIR_CODE = #{FIR_CODE}
	</when>
	<when test="SEC_CODE != null">
	DELETE 
	FROM 
			SEC_CODE
	WHERE 
			SEC_CODE = #{SEC_CODE}
	</when>
	</choose>
	
	
	</delete>
	
	<delete id="codedel_sec">
	
	DELETE 
	FROM 
			SEC_CODE
	WHERE 
			FIR_CODE = #{FIR_CODE}
	
	</delete>
	

</mapper>