<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookcafe.nexacro.mebership.serviceImpl.MemberManagermentMapper">

	<!-- 회원 관리 -->
	<select id="select_member" resultType="java.util.Map">
		SELECT 
			'N' as CHK,
		    a.USER_CODE,
		    a.USER_ID,
		    a.USER_NAME,
		    a.USER_TEL,
		    a.USER_EMAIL,
		    a.USER_ADDRESS,
		    a.USER_JOINDATE,
		    a.USER_POINT,
		    a.USER_AUTHORITY
		FROM 
		    USER a
		WHERE 1=1
		<choose>
			<when test="search_code == 1">
				AND a.USER_NAME LIKE CONCAT('%', #{search_input}, '%')
			</when>
			<when test ="search_code == 2">
				AND a.USER_ID LIKE CONCAT('%', #{search_input}, '%')
			</when>
			<when test ="search_code == 3">
				AND a.USER_TEL LIKE CONCAT('%', #{search_input}, '%')
			</when>
		</choose>
		ORDER BY USER_AUTHORITY ASC;
			</select>
			<select id="select_User_Authority" resultType="java.util.Map">
		SELECT USER_AUTHORITY,TXT
		  FROM USER_AUTHORITY
	</select>
	<update id="update_Member">
		UPDATE USER
		   SET USER_POINT = #{USER_POINT},
			   USER_AUTHORITY = #{USER_AUTHORITY}
		 WHERE USER_CODE = #{USER_CODE}
	</update>
	<delete id="delete_Member">
		DELETE FROM USER 
		WHERE USER_CODE = #{USER_CODE}
	</delete>
	<insert id="img_path">
		INSERT INTO IMG (IMG_PATH) VALUES (#{path})
	</insert>

	<select id="selectPointlog" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			CASE 
		        WHEN ORDER_CODE IS NULL THEN '포인트증정'
		        ELSE ORDER_CODE
		    END AS ORDER_CODE,
			POINT_CHANGE,
			POINT_JOINDATE
		FROM
			POINTLOG
		WHERE
			USER_CODE = #{USER_CODE}
			<if test="DATE1 != null and DATE1 != '' and DATE2 != null and DATE2 != ''">
			    AND STR_TO_DATE(SUBSTRING(POINT_JOINDATE, 1, 8), '%Y%m%d') BETWEEN STR_TO_DATE(#{DATE1}, '%Y%m%d') AND STR_TO_DATE(#{DATE2}, '%Y%m%d')
			</if>
			<if test="DATE1 != null and DATE1 != '' and (DATE2 == null or DATE2 == '')">
			   AND STR_TO_DATE(SUBSTRING(POINT_JOINDATE, 1, 8), '%Y%m%d') >= STR_TO_DATE(#{DATE1}, '%Y%m%d')
			</if>
			<if test="DATE2 != null and DATE2 != '' and (DATE1 == null or DATE1 == '')">
			   AND STR_TO_DATE(#{DATE2}, '%Y%m%d') >= STR_TO_DATE(SUBSTRING(POINT_JOINDATE, 1, 8), '%Y%m%d')
			</if>
			 <if test="POINT_PM != null and POINT_PM != ''">
                <choose>
                    <when test="POINT_PM == 1">
                        AND POINT_CHANGE <![CDATA[>]]> 0
                    </when>
                    <when test="POINT_PM == 2">
                        AND POINT_CHANGE <![CDATA[<]]> 0
                    </when>
                </choose>
            </if>
		ORDER BY POINT_JOINDATE DESC;
	</select>
	<insert id="insertPointLog" parameterType="java.util.Map">
		INSERT INTO POINTLOG (
			POINT_CODE, USER_CODE, ORDER_CODE,POINT_CHANGE, POINT_JOINDATE)
	    VALUES (
	    	fnCode('pointlog'), #{USER_CODE}, null, #{POINT_PM}, date_format(now(),'%Y%m%d%H%i%s') )
	</insert>
	<!-- 회원 포인트 업데이트 -->
	<update id="updateUserPoint">
		UPDATE USER 
		SET USER_POINT  = (
		    SELECT SUM(POINT_CHANGE) 
		    FROM POINTLOG 
		    WHERE USER_CODE = #{USER_CODE}
		) 
		WHERE USER_CODE = #{USER_CODE}
	</update>
	
</mapper>