<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookcafe.nexacro.orderhistorystatus.serviceImpl.OrderHistoryStatusMapper">
<!-- 음식 주문이력현황 조회  -->

   <select id="MenuCombo" resultType="java.util.Map">
      SELECT
      PRODUCT_CODE,PRODUCT_NAME
      FROM
      FOOD
   </select>

   <select id="ViewList" parameterType="java.util.Map"
      resultType="java.util.Map">
      SELECT A.CART_CODE,B.USER_NAME, C.PRODUCT_CODE, C.PRODUCT_NAME,
      A.ORDER_QUANTITY, D.PAYMENT_DATE
      FROM CART A
      JOIN USER B ON
      A.USER_CODE = B.USER_CODE
      JOIN FOOD C ON A.PRODUCT_CODE =
      C.PRODUCT_CODE
      JOIN ORDERS D ON A.USER_CODE = D.USER_CODE AND
      A.CART_CODE = D.CART_CODE
      WHERE 1 = 1
      <if test="USER_NAME != null and USER_NAME !=''">
         AND B.USER_NAME = #{USER_NAME}
      </if>
      <if test="PRODUCT_CODE != null and PRODUCT_CODE != ''">
         AND C.PRODUCT_CODE = #{PRODUCT_CODE}
      </if>
      <if
         test="PAYMENT_MONTH !='전체보기' and PAYMENT_MONTH != null and PAYMENT_MONTH != ''">
         AND SUBSTR(D.PAYMENT_DATE,5,2) = #{PAYMENT_MONTH}
      </if>
      <if
         test="PAYMENT_DAY !='전체보기' and PAYMENT_DAY != null and PAYMENT_DAY != ''">
         AND SUBSTR(D.PAYMENT_DATE,7,2) = #{PAYMENT_DAY}
      </if>
      <if
         test="PAYMENT_WEEK1 != null and PAYMENT_WEEK1 != '' and
                   (PAYMENT_WEEK2 == null or PAYMENT_WEEK2 == '')">
         AND TO_DATE(D.PAYMENT_DATE, 'YYYYMMDD') >= TO_DATE(#{PAYMENT_WEEK1},
         'YYYYMMDD')
      </if>
      <if
         test="PAYMENT_WEEK2 != null and PAYMENT_WEEK2 != '' and
                   (PAYMENT_WEEK1 == null or PAYMENT_WEEK1 == '')">
         AND TO_DATE(#{PAYMENT_WEEK2}, 'YYYYMMDD') >= TO_DATE(D.PAYMENT_DATE,
         'YYYYMMDD')
      </if>
      <if
         test="PAYMENT_WEEK1 != null and PAYMENT_WEEK1 != '' and PAYMENT_WEEK2 != null and PAYMENT_WEEK2 != ''">
         AND D.PAYMENT_DATE BETWEEN #{PAYMENT_WEEK1} AND #{PAYMENT_WEEK2}
      </if>
      ORDER BY D.PAYMENT_DATE, A.CART_CODE;
   </select>

</mapper>