<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="bookcafe.nexacro.orderhistorystatus.serviceImpl.OrderHistoryStatusMapper">
	<!-- 이력현황 조회 -->

	<!-- 대분류 combo -->
	<select id="OHFirCombo" resultType="java.util.Map">
		SELECT FIR_CODE, FIR_NAME
		FROM FIR_CODE
		ORDER BY FIR_CODE;
	</select>

	<!-- 중분류 combo -->
	<select id="OHSecCombo" resultType="java.util.Map">
		SELECT FIR_CODE, SEC_CODE,
		SEC_NAME
		FROM SEC_CODE
		ORDER BY SEC_CODE;
	</select>

	<!-- 소분류 combo -->
	<select id="OHThirCombo" resultType="java.util.Map">
		SELECT FIR_CODE,
		SEC_CODE,PRODUCT_CATEGORY,PRODUCT_CODE, PRODUCT_NAME
		FROM FOOD F
		JOIN
		SEC_CODE SC ON F.PRODUCT_CATEGORY = SC.SEC_CODE
		ORDER BY SEC_CODE,
		PRODUCT_CODE;
	</select>

	<!-- 대분류 선택 시 중분류 변화 -->
	<select id="SelSecCombo" resultType="java.util.Map">
		SELECT FIR_CODE, SEC_CODE, SEC_NAME
		FROM SEC_CODE
		WHERE 1=1
		<if
			test="FIR_CODE != 'fir_000' and FIR_CODE != null and FIR_CODE !=''">
			AND FIR_CODE = #{FIR_CODE}
		</if>
		ORDER BY SEC_CODE;
	</select>

	<!-- 조회하기 -->
	<select id="ViewList" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT *
		FROM USER U
		JOIN CART C ON U.USER_CODE = C.USER_CODE
		JOIN
		(
		SELECT FIR_CODE, SEC_CODE,PRODUCT_CATEGORY, PRODUCT_CODE, PRODUCT_NAME
		FROM FOOD FC
		JOIN SEC_CODE SC ON FC.PRODUCT_CATEGORY = SC.SEC_CODE
		) F
		ON C.PRODUCT_CODE = F.PRODUCT_CODE
		JOIN ORDERS O ON C.CART_CODE =
		O.CART_CODE AND C.USER_CODE = O.USER_CODE
		<!-- 주문상태가 '끝'인 주문만 조회 -->
		WHERE
		O.ORDER_STATE = '3'
		<!--이름 -->
		<if test="USER_NAME != null and USER_NAME !=''">
			AND U.USER_NAME = #{USER_NAME}
		</if>
		<!--대분류 -->
		<if test="FIR_CODE != null and FIR_CODE != ''">
			AND F.FIR_CODE = #{FIR_CODE}
		</if>
		<!--중분류 -->
		<if test="PRODUCT_CATEGORY != null and PRODUCT_CATEGORY != ''">
			AND F.PRODUCT_CATEGORY = #{PRODUCT_CATEGORY}
		</if>
		<!--소분류 -->
		<if test="PRODUCT_CODE != null and PRODUCT_CODE != ''">
			AND C.PRODUCT_CODE = #{PRODUCT_CODE}
		</if>
		<if
			test="PAYMENT_MONTH !='전체보기' and PAYMENT_MONTH != null and PAYMENT_MONTH != ''">
			AND SUBSTR(O.PAYMENT_DATE,5,2) = #{PAYMENT_MONTH}
		</if>
		
		
		<!-- 인풋날짜부터 이력 조회-->
		<if
			test="PAYMENT_WEEK1 != null and PAYMENT_WEEK1 != '' and
                   (PAYMENT_WEEK2 == null or PAYMENT_WEEK2 == '')">
			AND STR_TO_DATE(O.PAYMENT_DATE, '%Y%m%d%H%i%s') >= STR_TO_DATE(#{PAYMENT_WEEK1},
			'%Y%m%d')
		</if>
		<!-- 인풋날짜까지 이력 조회-->
		<if
			test="PAYMENT_WEEK2 != null and PAYMENT_WEEK2 != '' and
                   (PAYMENT_WEEK1 == null or PAYMENT_WEEK1 == '')">
			AND STR_TO_DATE(#{PAYMENT_WEEK2}, '%Y%m%d') >= STR_TO_DATE(O.PAYMENT_DATE, '%Y%m%d%H%i%s')
		</if>
		
		
		
		<if
			test="PAYMENT_WEEK1 != null and PAYMENT_WEEK1 != '' and PAYMENT_WEEK2 != null and PAYMENT_WEEK2 != ''">
			AND O.PAYMENT_DATE BETWEEN #{PAYMENT_WEEK1} AND #{PAYMENT_WEEK2}
		</if>
		ORDER BY C.CART_CODE, C.USER_CODE;
	</select>

</mapper>