<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookcafe.nexacro.orderstatus.serviceImpl.OrderMapper">

	<select id="selectOrders" parameterType="int" resultType="java.util.Map">
		SELECT o.USER_CODE, u.USER_ID , pc.PRODUCT_NAME , pc.ORDER_QUANTITY,
				o.PAYMENT_STATE, o.PAYMENT_DATE, o.ORDER_STATE, o.ORDER_CODE, pc.PRODUCT_CODE, o.TOTAL_PRICE, 'N' as CHK
		  FROM ORDERS o
	INNER JOIN USER u 
	        ON o.USER_CODE = u.USER_CODE
	INNER JOIN (SELECT bc.USER_CODE,bc.PRODUCT_CODE,bc.ORDER_QUANTITY, bc.CART_CODE, p.PRODUCT_NAME, p.PRODUCT_PRICE
		     	  FROM (SELECT c.USER_CODE ,c.PRODUCT_CODE ,c.ORDER_QUANTITY ,c.CART_CODE
				          FROM CART c
		   				 UNION
		    			SELECT b.USER_CODE, b.BOOK_CODE as PRODUCT_CODE, 1 as ORDER_QUANTITY, b.BORROW_CODE as CART_CODE 
		      			  FROM BORROW b) bc
			 INNER JOIN (SELECT f.PRODUCT_CODE,f.PRODUCT_NAME,f.PRODUCT_CATEGORY,f.PRODUCT_PRICE FROM FOOD f
						UNION
						SELECT b.BOOK_CODE as PRODUCT_CODE,b.BOOK_NAME as PRODUCT_NAME,b.BOOK_CATEGORY as PRODUCT_CATEGORY, b.BOOK_PRICE as PRODUCT_PRICE FROM BOOK b
						) p
					 ON bc.PRODUCT_CODE = p.PRODUCT_CODE) pc
			ON pc.CART_CODE = o.CART_CODE
		   AND pc.USER_CODE = u.USER_CODE 
		WHERE (o.ORDER_STATE <![CDATA[<]]> #{end_state}
		  AND o.ORDER_STATE <![CDATA[>]]> #{start_state}
		  <choose>
			<when test="end_state == 4"> 
				AND o.PAYMENT_STATE =1 OR o.PAYMENT_STATE >1) 
				AND DATE(o.PAYMENT_DATE) = DATE(NOW()) 
			</when>
			<otherwise> 
				AND o.PAYMENT_STATE = 1 )
			</otherwise>
		</choose>
	ORDER BY o.PAYMENT_DATE 
		<choose>
			<when test="end_state == 4">
				DESC
			</when>
			<otherwise>
				ASC
			</otherwise>
		</choose>
	</select>
	
	<update id="updateOrders">
		UPDATE ORDERS
		   SET ORDER_STATE = #{ORDER_STATE},
		   	   PAYMENT_STATE = #{PAYMENT_STATE}
		      
		 WHERE ORDER_CODE = #{ORDER_CODE}
	</update>
	<update id="updateFoodQuantity">
		UPDATE FOOD
		   SET PRODUCT_QUANTITY = (SELECT PRODUCT_QUANTITY FROM FOOD WHERE PRODUCT_CODE = #{PRODUCT_CODE}) + #{ORDER_QUANTITY}
		 WHERE PRODUCT_CODE = #{PRODUCT_CODE};
	</update>
</mapper>