<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookcafe.nexacro.productmanagement.serviceImpl.ProductManagementMapper">

	<!-- 음식 이미지 등록 -->
	<insert id="Food_Product">
	INSERT INTO FOODS(PRODUCT_CODE, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_QUANTITY, PRODUCT_CATEGORY, PRODUCT_PATH)
	VALUES('TEST', 'TEST', 0, 0, 'TEST', #{path})
	</insert>
	
	<insert id="BooK_Product">
	INSERT INTO BOOKS (BOOK_CODE, BOOK_NAME, BOOK_QUANTITY, BOOK_PRICE, BOOK_CATEGORY, BOOK_WRITER, BOOK_PUBLICATION_DATE, BOOK_PATH)
	VALUES ('TEST', 'TEST', 'TEST', 0, 'TEST', 'TEST', 'TEST', #{path});
	</insert>
	
	<update id="book_insert">
	UPDATE BOOKS 
	SET 
    BOOK_NAME = #{PRODUCT_NAME}, 
    BOOK_QUANTITY = #{PRODUCT_QUANTITY}, 
    BOOK_PRICE = #{PRODUCT_PRICE}, 
    BOOK_CATEGORY = #{PRODUCT_CATEGORY},
    BOOK_WRITER = #{PRODUCT_WRITER},
    BOOK_PUBLICATION_DATE = #{PRODUCT_BOOK_PUBLICATION_DATE}
WHERE 
    BOOK_PATH = #{PRODUCT_PATH}
	
	
	</update>
	
	
	<!-- 음식 등록 -->
	<update id="food_insert">
	UPDATE FOODS 
	SET 
    PRODUCT_NAME = #{PRODUCT_NAME}, 
    PRODUCT_PRICE = #{PRODUCT_PRICE}, 
    PRODUCT_QUANTITY = #{PRODUCT_QUANTITY}, 
    PRODUCT_CATEGORY = #{PRODUCT_CATEGORY}
WHERE 
    PRODUCT_PATH = #{PRODUCT_PATH}
	</update>
</mapper>