<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="bookcafe.nexacro.productmanagement.serviceImpl.ProductManagementMapper">
	
	
	<insert id="insert_book">
	INSERT INTO BOOK 
			(BOOK_CODE,
			BOOK_NAME,
			BOOK_QUANTITY,
			BOOK_WRITER,
			BOOK_PUBLICATION_DATE,
			BOOK_PATH,
			BOOK_CATEGORY,
			BOOK_PRICE,
			BOOK_CNT,
			PRODUCT_STATUS) 
	VALUES (fnCode('book'), #{PRODUCT_NAME}, 'Y', #{BOOK_WRITER}, #{BOOK_PUBLICATION_DATE},#{PRODUCT_PATH}, (select SEC_CODE from FIR_CODE fc JOIN SEC_CODE sc 
ON fc.FIR_CODE = sc.FIR_CODE WHERE SEC_NAME =#{SEC_NAME}), 0, 0, #{PRODUCT_STATUS} )
	</insert>
	
	<insert id="insert_food">
	INSERT INTO FOOD 
					(
					PRODUCT_CODE,
					PRODUCT_NAME,
					PRODUCT_QUANTITY,
					PRODUCT_PRICE,
					PRODUCT_PATH,
					PRODUCT_CATEGORY,
					PRODUCT_STATUS) 
	VALUES (fnCode('food'), #{PRODUCT_NAME}, 0, #{PRODUCT_PRICE},#{PRODUCT_PATH}, (select SEC_CODE from FIR_CODE fc JOIN SEC_CODE sc 
ON fc.FIR_CODE = sc.FIR_CODE WHERE SEC_NAME =#{SEC_NAME}), #{PRODUCT_STATUS} )
	</insert>



	
	<delete id="delete_food">
	  DELETE FROM FOOD WHERE PRODUCT_CODE = #{PRODUCT_CODE}
	</delete>
	
	<delete id="delete_book">
	  DELETE FROM BOOK WHERE BOOK_CODE = #{PRODUCT_CODE}
	</delete>
	
	<update id="update_food">
	UPDATE 
			FOOD 
	SET
			 PRODUCT_NAME = #{PRODUCT_NAME}, 
			 PRODUCT_PRICE = #{PRODUCT_PRICE},
			 PRODUCT_PATH = #{PRODUCT_PATH}
	WHERE 
			PRODUCT_CODE = #{PRODUCT_CODE}
	
	</update>
	
	<update id="update_book">
	UPDATE 
			BOOK 
	SET 
			BOOK_NAME = #{PRODUCT_NAME}, 
			BOOK_PRICE = #{PRODUCT_PRICE},
			BOOK_PATH = #{PRODUCT_PATH},
			BOOK_WRITER = #{BOOK_WRITER},
			BOOK_PUBLICATION_DATE = #{BOOK_PUBLICATION_DATE}
	WHERE 
			BOOK_CODE = #{PRODUCT_CODE}
	</update>
	
	<select id="bookReturn" resultType="int">
	SELECT COUNT(BOOK_QUANTITY) FROM BOOK WHERE BOOK_QUANTITY = "N";
	</select>
	
	<update id="updatevipstatus">
<![CDATA[
    UPDATE USER u
    SET u.USER_AUTHORITY = 
        CASE 
            WHEN u.USER_AUTHORITY = '1' AND 
                 (SELECT COALESCE(SUM(o.TOTAL_PRICE), 0) 
                  FROM ORDERS o 
                  WHERE o.USER_CODE = u.USER_CODE 
                    AND o.PAYMENT_DATE >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)) >= 100000 
                 THEN '2'
            WHEN u.USER_AUTHORITY = '2' AND 
                 (SELECT COALESCE(SUM(o.TOTAL_PRICE), 0) 
                  FROM ORDERS o 
                  WHERE o.USER_CODE = u.USER_CODE 
                    AND o.PAYMENT_DATE >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)) < 100000 
                 THEN '1'
            ELSE u.USER_AUTHORITY
        END
    WHERE EXISTS (
        SELECT 1 
        FROM ORDERS o 
        WHERE o.USER_CODE = u.USER_CODE 
          AND o.PAYMENT_DATE >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
    );
]]>
</update>

	
	<update id="updateuserleadbook">
	UPDATE USER SET USER_LEADBOOK = "N";
	</update>
	
  

</mapper>