<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookcafe.nexacro.stockorder.serviceImpl.StockOrderMapper">

	<!-- 재고관리 -->
	
	<!-- grid1 메뉴콤보 -->
	<select id="grid1MenuList" resultType="java.util.Map">
		SELECT
		PRODUCT_NAME,PRODUCT_CODE,PRODUCT_QUANTITY, '0' as PRODUCT_CHECK
		FROM FOOD
		ORDER BY PRODUCT_QUANTITY;
	</select>
	
	<!-- 발주신청서 저장 -->
	<!-- 시퀀스 -->
	<insert id="saveStockOrder">
	  INSERT INTO STOCKORDER (USER_CODE,PRODUCT_CODE,STOCK_ORDER_CODE,STOCK_ORDER_QUANTITY,STOCK_ORDER_DATE,STOCK_ORDER_STATUS) 
	  VALUES (#{ADMIN_CODE},#{PRODUCT_CODE},NEXTVAL(stock_seq),#{STOCK_ORDER_QUANTITY},DATE_FORMAT(NOW(),'%Y%m%d%H%m%s'),0);
	</insert>
	
	<!-- 중분류 combo -->
	<select id="SOSecCombo" resultType="java.util.Map">
		SELECT FIR_CODE, SEC_CODE, SEC_NAME
		FROM SEC_CODE
		WHERE FIR_CODE = 'fir_002'
		ORDER BY SEC_CODE;
	</select>
	
	<!-- 중분류 combo -->
	<select id="SOThirCombo" resultType="java.util.Map">
		SELECT SC.FIR_CODE, SC.SEC_CODE, F.PRODUCT_CODE, F.PRODUCT_NAME
		FROM SEC_CODE SC
		JOIN FOOD F ON SC.SEC_CODE = F.PRODUCT_CATEGORY
		WHERE FIR_CODE = 'fir_002'
		ORDER BY SC.SEC_CODE, F.PRODUCT_CODE;
	</select>
	
	<!-- 소분류 combo -->
	<select id="ChkThirCombo" resultType="java.util.Map">
		SELECT SC.FIR_CODE, SC.SEC_CODE, F.PRODUCT_CODE, F.PRODUCT_NAME
		FROM SEC_CODE SC
		JOIN FOOD F ON SC.SEC_CODE = F.PRODUCT_CATEGORY 
		WHERE 1=1
			AND F.PRODUCT_CATEGORY = #{SEC_CODE}
		ORDER BY F.PRODUCT_CODE;
	</select>
	
	<!-- 조회하기 -->
	<select id="ViewList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT F.PRODUCT_NAME , F.PRODUCT_CODE, F.PRODUCT_QUANTITY
		FROM SEC_CODE SC
		JOIN FOOD F ON SC.SEC_CODE = F.PRODUCT_CATEGORY
		WHERE 1=1
		<if test="SEC_CODE != null and SEC_CODE != ''">
			AND SC.SEC_CODE = #{SEC_CODE}
		</if>
		<if test="PRODUCT_CODE != null and PRODUCT_CODE != '' ">
			AND F.PRODUCT_CODE = #{PRODUCT_CODE}
		</if>
		ORDER BY F.PRODUCT_QUANTITY ;			
	</select>
	

</mapper>