<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookcafe.mapper.TestMapper">
	<select id="selectCommonCode" parameterType="java.util.Map" resultType="java.util.Map">
		select CD_VAL1, CD_NM1 from TB_CD_MST WHERE CD_VAL = #{CD_VAL}
	</select>
	
	<select id="selectOrdList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT ORD.ORD_NO AS ORD_NO,
		    FN_CODE_NM('001',ORD.ORD_STAT_CD) AS ORD_STAT_NM, 
		    ORD.CUST_CD AS CUST_NO,
		    CUST.CUST_NM AS CUST_NM,
		    FN_CODE_NM('002',CUST.CUST_GBCD) AS CUST_GBCD_NM,
		    CUST.PHONE AS PHONE,
		    CUST.ADDR AS ADDR,
		    ITEM.ITEM_NM AS ITEM_NM,
		    ORD.REG_DT AS REG_DT
		FROM TB_ORD ORD
		LEFT JOIN TB_CUST CUST ON ORD.CUST_CD = CUST.CUST_CD
		LEFT JOIN TB_ITEM ITEM ON ORD.ITEM_CD = ITEM.ITEM_CD
		WHERE 1=1
		<if test="ORD_NO != null and ORD_NO !=''"> 
			AND ORD.ORD_NO = #{ORD_NO} 
		</if>
		<if test="CUST_NM != null and CUST_NM !=''"> 
			AND CUST.CUST_NM = #{CUST_NM} 
		</if>
		<if test="COMP_YN == 'true'"> 
			AND CUST.CUST_GBCD = 'C' 
		</if>
		<if test="ORD_STAT_CD != null and ORD_STAT_CD !=''"> 
			AND ORD.ORD_STAT_CD = #{ORD_STAT_CD} 
		</if>
		<if test="CUST_GBCD != null and CUST_GBCD !=''"> 
			AND CUST.CUST_GBCD = #{CUST_GBCD} 
		</if> 
	</select>
</mapper>